.news-post-1 {
	display:flex;
	padding-bottom:20px;
	margin-right:10px;
	h4 {padding-left:10px;font-size:16px;}
	.creator {color:gray;font-size:12px;font-style:italic;padding:10px 0px 10px 0px;margin:10px 0px 10px 0px;}
	.text {font-weight:normal;}
	button {margin: 5px 5px 5px 0px; border:none;}
	.share {background:#002db3;color:white;padding:2px;}
	.fa {background:#0080ff; color:white;padding:2px;}
	.fa1 {background:#cccccc; color:#0066ff;}
	.fa1 span {color:black;}}

.news-post-2 {
	display:flex;
	padding-bottom:20px;
	margin-right:10px;
	h4 {padding-left:10px;font-size:16px;}
	.creator {color:gray;font-size:12px;font-style:italic;padding:10px 0px 10px 0px;margin:10px 0px 10px 0px;}
	.text {font-weight:normal;}
	button {margin: 5px 5px 5px 0px; border:none;}
	.share {background:#002db3;color:white;padding:2px;}
	.fa {background:#0080ff; color:white;padding:2px;}
	.fa1 {background:#cccccc; color:#0066ff;}
	.fa1 span {color:black;}}

.news-post-3 {
	display:flex;
	padding-bottom:20px;
	margin-right:10px;
	h4 {padding-left:10px;font-size:16px;}
	.creator {color:gray;font-size:12px;font-style:italic;padding:10px 0px 10px 0px;margin:10px 0px 10px 0px;}
	.text {font-weight:normal;}
	button {margin: 5px 5px 5px 0px; border:none;}
	.share {background:#002db3;color:white;padding:2px;}
	.fa {background:#0080ff; color:white;padding:2px;}
	.fa1 {background:#cccccc; color:#0066ff;}
	.fa1 span {color:black;}}

.news-post-4 {
	display:flex;
	padding-bottom:20px;
	margin-right:10px;
	h4 {padding-left:10px;font-size:16px;}
	.creator {color:gray;font-size:12px;font-style:italic;padding:10px 0px 10px 0px;margin:10px 0px 10px 0px;}
	.text {font-weight:normal;}
	button {margin: 5px 5px 5px 0px; border:none;}
	.share {background:#002db3;color:white;padding:2px;}
	.fa {background:#0080ff; color:white;padding:2px;}
	.fa1 {background:#cccccc; color:#0066ff;}
	.fa1 span {color:black;}}